{% extends 'index.html' %}

{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">



<aside>
  <h2>cadastro</h2>
  <input placeholder="nome" type="nome">
  <input placeholder="sobrenome" type="sobrenome">
  <input placeholder="email" type="email">
  <input placeholder="password" type="password">
  <input placeholder="telefone" type="telefone">
  <input placeholder="endereço" type="endereço">
  <button>acessar</button>
  
  <img src="{% static 'imagem/icons8-gmail-64.png' %}" alt="">
  <img src="{% static 'imagem/facebook.png' %}" alt="">
</aside>

{% endblock %}