body{
    background-color: white ;
    background: repeating-linear-gradient(
    45deg,
    white,
    white 2px,
    #fafafa 2px,
    #fafafa 5px
    );
    margin: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/* Css da nav */
nav{
    align-items: center;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0px 6px 12px -5px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 0px 6px 12px -5px rgba(0,0,0,0.46);
    box-shadow: inset 0px 6px 12px -5px rgba(0,0,0,0.46);
    border-top: 1px solid orange;
    display: flex;
    height: 80px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}
nav a{
    color: black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    padding-right: 30px;
    text-decoration: none;
}

nav a:hover{
    color: #f18a15;
    cursor: pointer;
    font-size: 15pt;
    transition: 0.4s;
    
}
nav img{
    cursor: pointer;
    height: 100%;
}

/* Fim do css da nav */

/* Inicio do css da header */
header{
    background-color: black;
    background-image: url("../img/header6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom:25%; 
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;    
    top: 9%; 
    width: 100%;
}

#divTexto h1{
    align-items: center;
    color: #e78843;
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 50pt;
    font-weight: 100 bolder;
    margin: 10% 70% 0.5% 3%;
}

#divTexto{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login{
    background: -moz-linear-gradient(
    top,
    #f8c7a9 0%,
    #c26b38);
    background: -webkit-gradient(
    linear, left top, left bottom,
    from(#f8c7a9),
    to(#c26b38));
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #f8c7a9;
    -moz-box-shadow:
    0px 1px 3px rgba(252,252,252,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
    0px 1px 3px rgba(252,252,252,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
    0px 1px 3px rgba(252,252,252,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 11px 24px;
    margin-left: 3%;
}

button{
    background: -moz-linear-gradient(
    top,
    #f8c7a9 0%,
    #c26b38);
    background: -webkit-gradient(
    linear, left top, left bottom,
    from(#f8c7a9),
    to(#c26b38));
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #f8c7a9;
    -moz-box-shadow:
    0px 1px 3px rgba(252,252,252,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
    0px 1px 3px rgba(252,252,252,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
    0px 1px 3px rgba(252,252,252,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
    color: #050505;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 3%;
    padding: 11px 24px;
}
/* Fim do css da header */

/* Inicio do css da div adotar */

.MotivoAdotar #adotar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#adotar{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#adotar h3{
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 60pt;
    
    
}
p{
    font-size: 14pt;   
}

#icon{
    cursor: pointer;
    height: 360px;
    transition: 0.5s;
    width: 360px;
}

#icon:hover{
    cursor: pointer;
    height: 400px;
    width: 400px;
    
}

.section2{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 400px;
    padding-bottom: 100px;
    width: 100%;
    
}

.section2 div{
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
}

/* Fim do css da div adotar */

/* Inicio do css da section */

section{
    align-items: center;
    background-color: #45ce73ad;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

section img{
    border-radius: 30px;
    width: 300px;
}

section #div{
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 70%;
    justify-content: space-evenly;
    text-align: justify;
    width: 40%;
}


#divSomos{
    flex-direction: column;
    text-align: center;
    text-transform: unset;
    
}

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 60pt;
    margin: 0;
}

#divSobre{
    font-size: 11pt;
    height: 100px;
    width: 400px;
    
}

section p{
    font-size: 16pt;
}

/* Fim do css da section */

/* Inicio do css do footer */

footer{
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}

footer img{
    cursor: pointer;
    height: 40px;
    margin-top: 5px;
    width: 40px;
    
}

footer h5{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}
/* Fim do css do footer */

.card{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-evenly;
    padding-top: 100px;
    width: 200px;
}

.card:hover{
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}


p{
    margin: 0;
}
